@media (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 40px;
    }
    .title__text {
        font-size: 48px;
        line-height: 56px;
    }
    .business,
    .achieve {
        padding: 50px 0 0;
        &__title {
            margin: 40px 0 30px;
            font-size: 38px;
            line-height: 46px;
            &::before {
                height: 15px;
            }
        }
        &-item {
            &__list {
                font-size: 28px;
                line-height: 36px;
                img {
                    width: 40px;
                }
            }
        }
        &-sub {
            margin-top: 50px;
            &__text {
                font-size: 32px;
                line-height: 38px;
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding: 0 20px;
    }
    .title__text {
        font-size: 32px;
        line-height: 40px;
    }
    .business,
    .achieve {
        .title__text {
            margin-bottom: 30px;
        }
        &__title {
            margin: 30px 0 20px;
            font-size: 26px;
            line-height: 32px;
        }
        &-item {
            &__list {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 15px;
                img {
                    width: 30px;
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }
        }
        &-sub {
            &__text {
                font-size: 18px;
                line-height: 24px;
                margin-top: 20px;
            }
        }
    }
    
}